@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
$monospace-font: 'IBM Plex Mono', monospace;
$blue-color: #3b8d99;
$purple-color: #6b6b83;
$red-color: #aa4b6b;

body {
  background: $red-color;
  background: linear-gradient(to right, $blue-color, $purple-color, $red-color);
  margin: 0;
}

#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-error {
  background-color: black;
  color: $red-color;
  font-family: $monospace-font;
  font-size: 1.8rem;
  text-align: center;
  padding: 5px;
}

::selection {
  background-color: #6b6b83;
}

.title-app {
  color: white;
  font-family: $monospace-font;
  font-weight: 100;
  font-size: 3.2rem;
  text-align: center;
  transition: text-shadow 0.3s;
}

.title-app:hover {
  cursor: pointer;
  text-shadow: 0px 0px 4px white;
}

.container {
  width: 700px;
}

.table {
  width: 700px;
  font-family: $monospace-font;
  background-color: black;
  color: white;
}

thead {
  font-size: 1.5rem;
}

tbody {
  font-size: 3rem;
}

.longitude {
  color: $blue-color;
}

.latitude {
  color: #aa4b6b;
}

.longitude,
.latitude {
  text-align: center;
}

.container {
  margin-bottom: 2rem;
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.75);
}

.map-canvas {
  height: 400px;
  width: 700px;
}

.info {
  background-color: black;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  font-family: $monospace-font;
}

a {
  color: #45def5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.shield {
  width: 240px;
  height: auto;
  margin: 2rem;
}

// Mobile design
$breakpoint-mobile: 700px;
@media (max-width: $breakpoint-mobile) {
  .container {
    box-shadow: none;
    width: 90%;
  }

  .info {
    flex-direction: column;
  }

  .shield {
    margin: 0;
    width: 50%;
    align-self: center;
  }

  .map-canvas {
    min-height: 90vh;
    width: 100%;
  }

  .title-app {
    font-size: 2.5rem;
  }

  thead {
    font-size: 1rem;
  }

  tbody {
    font-size: 1.8rem;
  }

  .table {
    width: 100%;
    padding: 10px;
  }
}
